Flow_NodeRed.json
[
    {
        "id": "2a2cc906a03e0859",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18143aa24a675f4a",
        "type": "mqtt in",
        "z": "2a2cc906a03e0859",
        "name": "",
        "topic": "Prediccion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9637394d2b7e86d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5955ba75a2912b16",
                "d69d81a38725031e",
                "7e952261c5a5bb17",
                "4edc3243e48adf2e",
                "00c35496c9bfbe79",
                "10e1436480eb6e87",
                "ab56d2d35bcd4f98",
                "eb6e3eec520f88b2",
                "6b8e8548f7c0835c",
                "86b12d01319e577b"
            ]
        ]
    },
    {
        "id": "d69d81a38725031e",
        "type": "ui_text",
        "z": "2a2cc906a03e0859",
        "group": "93b39fa4c6bc5332",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Etiqueta",
        "format": "{{msg.payload.prediction}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "5955ba75a2912b16",
        "type": "debug",
        "z": "2a2cc906a03e0859",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "e84e65fdadd0d582",
        "type": "ui_chart",
        "z": "2a2cc906a03e0859",
        "name": "",
        "group": "93b39fa4c6bc5332",
        "order": 3,
        "width": 7,
        "height": 4,
        "label": "Probabilidad",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7e952261c5a5bb17",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "equal",
        "func": "msg.payload = msg.payload.probability[0]\nmsg.topic = \"Sin\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "4edc3243e48adf2e",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 2",
        "func": "msg.payload = msg.payload.probability[1]\nmsg.topic = \"Submeter 2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 180,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "00c35496c9bfbe79",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 3",
        "func": "msg.payload = msg.payload.probability[2]\nmsg.topic = \"Submeter 3\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "10e1436480eb6e87",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 4",
        "func": "msg.payload = msg.payload.probability[3]\nmsg.topic = \"Equal\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "ab56d2d35bcd4f98",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 5",
        "func": "msg.payload = msg.payload.PotAct\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "11a1b4638ab4bb0c"
            ]
        ]
    },
    {
        "id": "11a1b4638ab4bb0c",
        "type": "ui_gauge",
        "z": "2a2cc906a03e0859",
        "name": "",
        "group": "68c6cb8aaaf2749b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Potencia Activa Global",
        "label": "kW",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "eb6e3eec520f88b2",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 6",
        "func": "msg.payload = msg.payload.PotReact\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "7b82ca3ddaf51903"
            ]
        ]
    },
    {
        "id": "7b82ca3ddaf51903",
        "type": "ui_gauge",
        "z": "2a2cc906a03e0859",
        "name": "",
        "group": "68c6cb8aaaf2749b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Potencia Reactiva Global",
        "label": "kVA",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "6b8e8548f7c0835c",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 7",
        "func": "msg.payload = msg.payload.Volt\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 440,
        "wires": [
            [
                "a0ae939035a21dbb"
            ]
        ]
    },
    {
        "id": "a0ae939035a21dbb",
        "type": "ui_gauge",
        "z": "2a2cc906a03e0859",
        "name": "",
        "group": "a22be0737c172c50",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Voltaje de la Red",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "86b12d01319e577b",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 8",
        "func": "msg.payload = msg.payload.Int\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 520,
        "wires": [
            [
                "2dc95aabdde8f4bf"
            ]
        ]
    },
    {
        "id": "2dc95aabdde8f4bf",
        "type": "ui_gauge",
        "z": "2a2cc906a03e0859",
        "name": "",
        "group": "a22be0737c172c50",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Corriente",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "8682f7fb7ba385a7",
        "type": "ui_spacer",
        "z": "2a2cc906a03e0859",
        "name": "spacer",
        "group": "93b39fa4c6bc5332",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "ecc5020b77b46975",
        "type": "ui_spacer",
        "z": "2a2cc906a03e0859",
        "name": "spacer",
        "group": "68c6cb8aaaf2749b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "9637394d2b7e86d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "93b39fa4c6bc5332",
        "type": "ui_group",
        "name": "Predicciones del modelo",
        "tab": "6ad2b1bd74a742b0",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68c6cb8aaaf2749b",
        "type": "ui_group",
        "name": "Variables de potencia global",
        "tab": "6ad2b1bd74a742b0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a22be0737c172c50",
        "type": "ui_group",
        "name": "Variables eléctricas",
        "tab": "6ad2b1bd74a742b0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ad2b1bd74a742b0",
        "type": "ui_tab",
        "name": "Tablero de monitoreo del modelo y variables",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]