Flow_NodeRed.json
[
    {
        "id": "2a2cc906a03e0859",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18143aa24a675f4a",
        "type": "mqtt in",
        "z": "2a2cc906a03e0859",
        "name": "",
        "topic": "Prediccion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9637394d2b7e86d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5955ba75a2912b16",
                "d69d81a38725031e",
                "7e952261c5a5bb17",
                "4edc3243e48adf2e",
                "00c35496c9bfbe79",
                "10e1436480eb6e87"
            ]
        ]
    },
    {
        "id": "d69d81a38725031e",
        "type": "ui_text",
        "z": "2a2cc906a03e0859",
        "group": "93b39fa4c6bc5332",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload.prediction}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "5955ba75a2912b16",
        "type": "debug",
        "z": "2a2cc906a03e0859",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "e84e65fdadd0d582",
        "type": "ui_chart",
        "z": "2a2cc906a03e0859",
        "name": "",
        "group": "93b39fa4c6bc5332",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7e952261c5a5bb17",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "equal",
        "func": "msg.payload = msg.payload.probability[0]\nmsg.topic = \"Equal\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "4edc3243e48adf2e",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 2",
        "func": "msg.payload = msg.payload.probability[1]\nmsg.topic = \"A>B\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 180,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "00c35496c9bfbe79",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 3",
        "func": "msg.payload = msg.payload.probability[2]\nmsg.topic = \"B>A\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "10e1436480eb6e87",
        "type": "function",
        "z": "2a2cc906a03e0859",
        "name": "function 4",
        "func": "msg.payload = msg.payload.probability[3]\nmsg.topic = \"Sin\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "e84e65fdadd0d582"
            ]
        ]
    },
    {
        "id": "9637394d2b7e86d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "93b39fa4c6bc5332",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "6ad2b1bd74a742b0",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "6ad2b1bd74a742b0",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]